.grid-content {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  height: calc(100vh - 70px);
  grid-gap: 1em;
}

.page-title {
  padding-top: 5em ;
  overflow: hidden;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  

  h1 {
    position: relative;
    margin: 1em 0 0 0;
    
    letter-spacing: 2em;
    font-family: $font-oswald;
    font-weight: normal;
    color: #555;
    font-size: 2em;
    margin-right: -2em;
    text-align: center;
    
  }
}

@media only screen and (min-width: 768px) {
  .page-title {
    padding-top: 0 ;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-lr;
    text-orientation: upright;
    height: 100vh;
    background: linear-gradient(95deg, #ffffff 47%, #eeeeee 121%);

    h1 {
      margin: auto;
    }
  }
}
