.kyb-logo-wrapper {
  align-self: start;
  background: #fff;
  width: auto;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  .kyb-logo-cont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;

    width: 100%;

    h1 {
      color: #474141;
      font-family: $font-oswald;
      letter-spacing: 2px;
      margin: 0;
      font-size: 1.5em;

      span {
        color: #ebb279;
      }
    }
  }
}
